<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation</title>
</head>
<body>
    <p>The customer is confirmed: <span th:text="${customer.firstName} + ' ' + ${customer.lastName}"></span></p>
    <p>Postal Code: <span th:text="${customer.postalCode}"></span></p>
    <p>For this customer there is/are <span th:text="${customer.freePasses}"></span> free pass(es)</p>
    <p>Course Code is <span th:text="${customer.courseCode}"></span></p>
</body>
</html>